.chart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 70px);

  &__time-dropdown {
    margin-bottom: 10px;
    .MuiInputBase-root {
      height: 40px;
    }
  }

  &__header {
    margin-bottom: 10px;
  }
}