.chart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 70px);
}

.chart__time-dropdown {
  margin-bottom: 10px;
}

.chart__header {
  margin-bottom: 10px;
}