* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: aliceblue;
}

.app {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: auto;

  &__left-block {
    flex: 0.6;
    margin-right: 20px;
    max-width: 60%;
  }

  &__right-block {
    flex: 0.4 1;
    max-width: 40%;
    max-height: calc(100vh - 40px);

    .MuiCard-root {
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
      .MuiCardContent-root {
        height: 100%;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      margin-right: 20px;
    }
  }

  &__header-buttons {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    height: 46px;

    .MuiButtonGroup-root {
      height: 100%;
    }

    .MuiButton-root {
      height: 100%;
    }
  }

  &__dropdown {
    width: 150px;
    height: 100%;
    margin-left: 20px;

    .MuiOutlinedInput-root {
      height: 100%;
      width: 100%;
    }
  }

  &__statistics {
    display: flex;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;

    .MuiCard-root:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__chart {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    height: calc(100vh - 420px);
    max-width: 100%;
  }

  &__diagrams {
    margin: 16px 0;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    max-width: 100%;
  }

}


.diagrams {
  &__container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 1200px) {
  .app {
    flex-direction: column;

    &__right-block {
      flex: 1;
      max-width: 100%;
      margin-top: 20px;
      height: 500px;
      max-height: 500px;
    }

    &__left-block {
      max-width: 100%;
      margin-right: 0;
      flex: 1;
    }

    &__statistics {
      flex-direction: column;

      align-items: center;
      justify-content: center;

      .MuiCard-root {
        max-width: 600px;
        align-items: center;
        justify-content: center;
      }

      .MuiCard-root:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .info-card {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {

  .app {
    &__chart {
      height: 400px;
    }

    &__header {
      margin-bottom: 8px;
    }

    &__diagrams {
      flex-direction: column;
      height: 650px;
      justify-content: center;
      align-items: center;
    }

    &__header {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 25px;
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    &__header-buttons {
      justify-content: space-between;
    }
  }

  .diagrams {
    &__container {
      width: 100%;
      margin-bottom: 8px;
    }

    &__content {
      width: 100%;
      height: 100%;
    }
  }
}