.map {
    height: calc(100vh - 275px);
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);

    .leaflet-container {
        height: 100%;
        border-radius: 12px;
    }
}

.leaflet-popup-content-wrapper {
    background-color: whitesmoke !important;
}

.info-flag {
    background-size: 100%;
    max-width: 250px;
    height: 150px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &:hover {
        border: 1px grey solid;
        box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    }
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-container {
    width: 200px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}